
.form-popup{
  display:none;
  position: fixed;
  margin-left:600px;
  margin-top: 200px;
  backdrop-filter: blur(5px);
}

.open-button{
  padding: 16px 20px;
  position: fixed;
  bottom: 23px;
  right:28px;
  width:280px;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}