body{
  font-family: cursive;

}
.header
{
  height:30px;
}

.form-popup{
  display:none;
  position: fixed;
  margin-left:600px;
  margin-top: 200px;
  backdrop-filter: blur(5px);
}

.open-button{
  padding: 16px 20px;
  position: fixed;
  bottom: 23px;
  right:28px;
  border-radius: 50%;
  background-color: #50d8d7;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#grid-container
{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.card 
{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: cursive;
  font-size: 24px;
  border: 10px solid black;
  padding: 1rem 1rem;
  min-height: 3em;
  width: 200px;
  resize: both;
  background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
}
.grid-item
{
  padding:20px;
}

.button-five {
  background-color: #50d8d7;
  border-radius: 25px;
} 

.deleteBtn
{
  align-self: flex-end;
  border-radius: 50%;
}




